package views


templ Navbar() {
<nav class="navbar">
    <div class="navbar-header">
        <a href="/">
        <img src="https://storage.googleapis.com/my-cloud-resume-images/logo.png" alt="William Young" class="logo"  />
        </a>
    </div>
    <nav class="nav-items">
        <a href="/#experience" class="nav-item"><span>💼</span>Experience</a>
        <a href="/#education" class="nav-item"><span>📚</span>Education</a>
        <a href="/#skills" class="nav-item"><span>🧑‍💻</span>Skills</a>
        <a href="/#projects" class="nav-item"><span>🏆</span>Projects</a>
        <a href="/contact" class="nav-item"><span>📞</span>Contact</a>
    </nav>
</nav>
}