package views

templ NotFound() {
<section class="card">
    <div class="card-content notFound">
        <h1 >404: Page Not Found</h1>
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExM2Vlajc1MzgxenR0cm56bzltcjAwdmc4NjZiZ2V1amM0Y3lleDJyZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VwoJkTfZAUBSU/giphy.webp" alt="Page Not Found" />
    </div>
</section>      
}