package ui

templ DevCardHZ() {
<section class="card">
    <div class="card-content">
        <a href="https://app.daily.dev/escobardwill"><img src="https://api.daily.dev/devcards/v2/i3Uofd7tdUFrzHfMRQhoS.png?type=wide&r=3k4" alt="Will Young's Dev Card"/></a> 
    </div>
</section>
}

