package ui

templ DevCard() {
<section class="card">
    <div class="card-content">
        <a href="https://app.daily.dev/escobardwill"><img src="https://api.daily.dev/devcards/v2/i3Uofd7tdUFrzHfMRQhoS.png?r=id9&type=default" width="356" alt="Will Young's Dev Card"/></a>
    </div>
</section>
}

